<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <a href="{% url 'patient_create' %}">Adicionar Paciente</a>
    <ul>
        {% for patient in patients %}
            <li>{{ patient.name }} - <a href="{% url 'patient_edit' patient.pk %}">Editar</a></li>
        {% empty %}
            <li>Nenhum paciente cadastrado.</li>
        {% endfor %}
    </ul>
</body>
</html>
